<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Escanear QR</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="full" (click)="scanQRCode()">Escanear</ion-button>

  <div *ngIf="scanResult">
    <h2>Resultado del QR:</h2>
    <p>{{ scanResult }}</p>

    <h2>Ubicación Actual:</h2>
    <p>Latitud: {{ latitude }}</p>
    <p>Longitud: {{ longitude }}</p>
  </div>
</ion-content>
